body{
	min-width: 590px;
}

#bloc{
	background-color: #EEEEEE;
    width: 80%;
	margin: 0 auto;
	padding: 5px;
	text-align: right;
	font-family: 'Segoe UI';
	box-shadow: 0px 0px 25px #888888;
}

#bloc_page{
	background-color: white;
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	font-family: arial;
	/*text-align: center ;*/
	box-shadow: 0px 0px 25px #888888;
}

#profile_bloc_page{
	background-color: white;
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	font-family: arial;
	/*text-align: center ;*/
	box-shadow: 0px 0px 25px #888888;
}

a{
	text-decoration: none;
}

.header {
	background-color: black;
	width: 100%;
	text-align: right;

}

.header ul {
	margin-bottom: 0px;
}

.header ul li{
	display: inline-block;
	padding: 15px;
	color: white;
	font-family: 'Segoe UI';
}

.header ul li:hover{
	background-color: #003D99;
	/*color: black;*/
}

.mainNav{
	/*background-image: url('../images/congo.jpg');*/
	background-color: #003D99;
	background-repeat: no-repeat;
    width: 100%;
    height: 100px;
}

.logo{
    width: 25%;
    padding-left: 10%;
    /*margin-top: 70px;*/
    /*background-color: white;*/
    height: 100%;
    float: left;
	overflow: hidden;
}

.space{
	width: 5%;
	float: left;
	overflow: hidden;
}

.menubar{
	width: 70%;
	padding-right: 10%;
	overflow: hidden;
}

.menubar ul{
	margin-top: 60px;
}

.menubar ul li{
	display: inline-block;
	color: white;
	padding: 15px;
	font-family: 'Segoe UI';
	font-size: 15px;
}

.menubar ul li:hover{
	background-color: #001433;
}

.line{
	background-color:#0066FF;
	width: 100%;
	height: 10px;
	margin-bottom: 0px;
}

.carousel{
	background-color: #333333;
	width: 100%;
	height: 400px;
	text-align:;
}

.imageguard{
	width: 50%;
	height: 100%;
    float: left;
	overflow: hidden;
}

.headlines{
	width: 50%;
	height: 100%;
	padding: 20px;
    float: left;
	overflow: hidden;
	padding-right: 10%;
}

.endline{
	background-color:#003D99;
	width: 100%;
	height: 10px;
	margin-bottom: 0px;
}

.backgroundImg{
	width: 100%;
	height: 350px;
	background-color: #001433;
	padding: 20px;
	border: 1px solid #E7E7E7;
	border-radius: 6px 6px 0 0;
	text-align: right;

}

/*.backgroundImg button{
	position: absolute;
	right:    0;
	bottom:   0;
}*/

.profileImg{
	width: 180px;
	height: 170px;
	background-image: url('../images/picture.jpg');
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	border: 1px solid #E7E7E7;
	border-radius: 5px 5px 5px 5px;
	margin-top: 140px;
	float: left;
	overflow: hidden;
}

/*.profileImg button{
	position: absolute;
	right:    0;
	bottom:   0;
}*/

.profileNav{
	background-color: #F3F3F3;
	width: 100%;
	border: 1px solid #E7E7E7;
	border-top: 0;
	text-align: left;
}

.profileNav ul{
    margin-bottom: 0px;
}

.profileNav ul li{
	display: inline-block;
	color: black;
	padding: 10px;
	font-family: 'Segoe UI';
	font-size: 20px;
}

.profileNav ul li:hover{
	background-color: #DBDBDB;
}

@media screen and (max-width: 950px){
	#bloc{
		width: 100%;
	}
	#bloc_page{
		width: 95%;
	}
	#profile_bloc_page{
		width: 100%;
	}
	.backgroundImg{
		width: 100%;
	}
	.profileNav{
		width: 100%;
	}
}

@media screen and (max-width: 480px){
   
}