{% extends 'base.html' %}

{% block title %}{{ request.user.username }}{% endblock %}


{% include 'base.html'%}
{% block content %}
<div id="profile_bloc_page">

<div class="backgroundImg">
   <div class="profileImg">
      <a href=""><img src="{{ user.profile_image.url }}" width="180" height="170"></a>
        <div class="caption">
            <a id="addProfile"><p> Add Profile <i class="fa fa-camera"></i></p></a>
        </div>
        <div id="ImgUploader">
         <form method="post" action=".">
           <input type="file" id="ImgUpload">
         </form>
        </div>
   </div>
   <!-- <h3 style="color:white;">{{ request.user.username }}</h3> -->
   <!-- <br/> -->
   	  <!-- <button> Add Background Image <i class="fa fa-camera"></i></button>	 -->
</div>
<div class="profileNav">
    <ul>
    	<a href=""><li>My News</li></a>
    	<a href=""><li>Infos</li></a>
    	<a href=""><li>Friends</li></a>
    	<a href=""><li>Photos</li></a>
    </ul>
	
</div>
<hr>

<!-- <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                <p>
                    <input id="id_image" type="file" class="" name="image">
                </p>
                <input type="submit" value="Submit" />
            </form> -->

</div>
{% endblock %}